@model List<AyakkabiTuru>

	<div class="container"> 
		<div class="row pt-3 pb-4">
		<div>

            <h1>Ayakkabı Türleri</h1>

          </div>
         </div>
<table class="table table-bordered">
	<thead> 
		<tr>
			<th>
				Id
			</th>
			<th>
				Ayakkabı Türü
			</th>
			<th>

			</th>

		</tr>
	</thead>

	<tbody>
		@foreach (var ayakkabiTuru in Model)
		{
			<tr>
				<td>@ayakkabiTuru.Id</td>
				<td>@ayakkabiTuru.Ad</td>
				<td> 
				<a asp-controller="AyakkabiTuru" asp-action="Guncelle" asp-route-id="@ayakkabiTuru.Id" type="button" class="btn btn-success" style="width:150px">Güncelle</a>
			    </td>
			    <td>
						<a asp-controller="AyakkabiTuru" asp-action="Sil" asp-route-id="@ayakkabiTuru.Id" type="button" class="btn btn-danger" style="width:150px">Sil </a>
			 </td>
			</tr>
		}
	</tbody>


    </table>

	<div class="rpw pt-3 pb-2">

		<div>
			<a asp-controller="AyakkabiTuru" asp-action="Ekle" class="btn btn-lg btn-primary" type="button">
				Yeni Ayakkabı Türü Oluştur
			</a>
		</div>

	</div>
</div>


